<ion-header>
  <ion-toolbar>
    <ion-title>Créditos do projeto</ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn-cancel" color="medium" (click)="cancel()">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid [class]="configuration.newsDetailAlign">
    <ion-row>
      <ion-col>
        <h3>Apresentação</h3>

        <p>Olá para você que chegou até aqui, me chamo Marcos Sousa e sou o desenvolvedor e idealizador do projeto mundo hoje. 😁</p>
        <p>Sou apaixonado por tecnologia desde criança e fiz da tecnologia minha paixão,
          hobby e profissão.</p>
        <p>Acredito que através dela conseguiremos aumentos de produtividade que propiciarão a democratização de qualidade de vida para todos de forma consciente e sustentável.</p>
        <p>Em caso de dúvidas ou sugestões fique a vontade para abrir um novo issue no repositório do projeto no GitHub ou entre em contato através do meu
        <a href="https://www.linkedin.com/in/marcos-sousa-mvcs/" target="_blank">LinkedIn</a></p>
        <p>O código fonte foi disponibilizado no repositório oficial do projeto no Github e pode ser acessado através do botão logo abaixo.</p>

        <ion-button href="https://github.com/marcos-vcs/mundo-hoje" target="_blank" class="align-center" shape="round" size="small" fill="outline">
          Repositório do projeto
          <ion-icon slot="end" name="logo-github"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <h3>Motivação</h3>

          <p>O projeto mundo hoje foi desenvolvido inicialmente para fins acadêmicos afim de me aprofundar no desenvolvimento de
            aplicativos PWA (progressive web apps), sendo desenvolvido utilizando os frameworks ionic 6 e angular 13.
          </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Agradecimentos</h3>

        <p>Alguns amigos colaboraram na fase de testes e aprimoramento do projeto, são estes:</p>
        <ul>
          <li><a href="https://www.linkedin.com/in/ozeias-dos-santos-silva-ba937a127/">Ozéias dos Santos</a></li>
          <li><a href="https://www.linkedin.com/in/eduarda-santos-alves/">Eduarda Santos</a></li>
          <li><a href="https://www.linkedin.com/in/joyce-mara-m/">Joyce Mara</a></li>
        </ul>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Referências</h3>

        <a href="https://www.flaticon.com/br/icones-gratis/globo" title="globo ícones">Globo ícones criados por Freepik - Flaticon</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
