<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="margin-top: 15px;">
      Favoritos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn-refresh" shape="round" color="medium" (click)="doRefresh($event)"><ion-icon
          name="refresh-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item>
    <ion-searchbar *ngIf="atualFilter === 'keyword' || atualFilter === undefined" (ionChange)="getSearchbarValue()"
      [(ngModel)]="searchValue" class="mt-10" placeholder="Buscar"></ion-searchbar>

    <ion-item *ngIf="atualFilter === 'period'" lines="inset">
      <ion-item style="font-weight: 400;" class="br-15" fill="solid">
        <ion-label position="floating">Data de inicio</ion-label>
        <ion-input value="{{ startDate | date: 'dd/MM/yyyy' }}" id="startDate"
          (ionChange)="getSearchbarValue()"></ion-input>
        <ion-popover trigger="startDate" size="auto">
          <ng-template>
            <ion-datetime presentation="startDate" [(ngModel)]="startDate" locale="pt-br"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item style="font-weight: 400;" class="br-15" fill="solid">
        <ion-label position="floating">Data de fim</ion-label>
        <ion-input value="{{ endDate | date: 'dd/MM/yyyy' }}" id="endDate"
          (ionChange)="getSearchbarValue()"></ion-input>
        <ion-popover trigger="endDate" size="auto">
          <ng-template>
            <ion-datetime presentation="endDate" [(ngModel)]="endDate" locale="pt-br"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-item>

    <ion-button (click)="filterActionSheet();" class="mt-10 ml-0" slot="end" shape="round" fill="outline">
      <ion-icon style="width: 20px;" name="filter-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="notFoundMsg" *ngIf="notFoundMsg">
    Nenhuma notícia encontrada <br>
    <img class="mt-15" src="../../assets/no-connection.png" alt="no connection" width="30%">
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <span *ngIf="!loadCenter">
    <ion-card class="mb-40" *ngFor="let item of news">
      <ion-card-title (click)="openDetails(item)" class="title">
        {{item.titulo}}
      </ion-card-title>
      <ion-item (click)="openDetails(item)">
        <ion-img class="mt-15" [src]="item.photos.image_intro" (ionError)="item.photos.image_intro = errorImage"
          width="100%"></ion-img>
      </ion-item>

      <ion-card-subtitle>
        <div>
          Publicado em: {{item.data_publicacao.toString().split(' ')[0]}}
        </div>

        <div class="options-list">
          <ion-button (click)="removeNews(item)" id="favorite-btn" size="small" fill="clear" shape="round">
            <ion-icon *ngIf="item.save" [size]="configuration.noticeCardIconsSize " class="btn-red"
              name="heart"></ion-icon>
            <ion-icon *ngIf="!item.save" [size]="configuration.noticeCardIconsSize" class="btn-gray"
              name="heart"></ion-icon>
          </ion-button>
          <ion-button (click)="shareNews(item)" id="favorite-btn" size="small" fill="clear" shape="round">
            <ion-icon [size]="configuration.noticeCardIconsSize" name="share-social-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-card-subtitle>
      <ion-card-title class="ion-padding" (click)="openDetails(item)">
        <p [class]="configuration.newsDetailAlign ?? 'text-align-left'">{{item.introducao}}</p>
      </ion-card-title>
    </ion-card>
  </span>

  <p class="allLoadsMsg" *ngIf="allLoadMsg && !loadCenter && !notFoundMsg">
    Todas as notícias foram carregadas.
  </p>

  <ion-content *ngIf="loadCenter">
    <ion-spinner class="spinnerCenter" name="dots"></ion-spinner>
  </ion-content>

  <ion-content *ngIf="loadDown">
    <ion-spinner class="spinnerDown" name="bubbles"></ion-spinner>
  </ion-content>

</ion-content>
