<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="margin-top: 15px;">
      Favoritos
    </ion-title>

    <ion-searchbar (ionChange)="getSearchbarValue()" [(ngModel)]="searchValue" animated="true" style="margin-top: 10px;"
      placeholder="Buscar"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="notFoundMsg" *ngIf="notFoundMsg">
    Nenhuma notícia encontrada <br>
    <img class="mt-15" src="../../assets/no-connection.png" alt="no connection" width="30%">
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <span *ngIf="!loadCenter">
    <ion-card class="mb-10" *ngFor="let item of news">
      <ion-card-title (click)="openDetails(item)" class="title">
        {{item.titulo}}
      </ion-card-title>
      <ion-item (click)="openDetails(item)">
        <ion-img class="mt-15" [src]="item.photos.image_intro" (ionError)="item.photos.image_intro = errorImage"
          width="100%"></ion-img>
      </ion-item>

      <ion-card-subtitle>
        <div>
          Publicado em: {{item.data_publicacao.toString().split(' ')[0]}}
        </div>

        <div class="options-list">
          <ion-button (click)="removeNews(item)" id="favorite-btn" size="small" fill="clear" shape="round">
            <span *ngIf="item.save">
              <ion-icon class="btn-red" name="heart"></ion-icon>
            </span>
            <span *ngIf="!item.save">
              <ion-icon class="btn-gray" name="heart"></ion-icon>
            </span>
          </ion-button>
        </div>

      </ion-card-subtitle>
      <ion-card-title class="ion-padding" (click)="openDetails(item)">
        {{item.introducao}}
      </ion-card-title>
    </ion-card>
  </span>

  <p class="allLoadsMsg" *ngIf="allLoadMsg && !loadCenter && !notFoundMsg">
    Todas as notícias foram carregadas.
  </p>

  <ion-content *ngIf="loadCenter">
    <ion-spinner class="spinnerCenter" name="dots"></ion-spinner>
  </ion-content>

  <ion-content *ngIf="loadDown">
    <ion-spinner class="spinnerDown" name="bubbles"></ion-spinner>
  </ion-content>

</ion-content>
