/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';

.searchbar-input.sc-ion-searchbar-md {
    border-radius: 25px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.1rem;
    font-weight: 400;
    color: #7f8490;
    -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
  }
  .toast{
    font-weight:bold;
    color:#fff;
  }
  .mt-15{
    margin-top: 15px;
  }
  .mb-5{
    margin-bottom: 5px;
  }
  .p-0{
    padding: 0;
  }
  .br-15{
    border-radius: 15px;
  }
  .float-left{
    float: left;
  }
  .fw-bold{
    font-weight: bold;
  }
  .float-right{
    float: right;
  }
  .widht-60-percent{
    width: 60%;
  }
  .height-230-px{
    height: 230px;
  }
  .mb-10{
    margin-bottom: 40px;
  }
  .fs-10{
    font-size: 10px;
  }
  .fs-12{
    font-size: 12px;
  }
  .fs-14{
    font-size: 14px;
  }
  .mt-negative-20{
    margin-top: -20px;
  }
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
}
.text-align-justify{
  text-align: justify;
}
.text-align-center{
  text-align: center;
}
