<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="margin-top: 15px;">
      <img src="../../assets/icon/favicon.png">
      Mundo hoje
    </ion-title>

    <ion-searchbar animated="true" style="margin-top: 10px;" placeholder="Buscar"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of notice.items">
    <ion-item>
      <img [src]="item.photos.image_intro" width="100%">
    </ion-item>

    <ion-card-title>
      {{item.introducao}}
    </ion-card-title>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-content *ngIf="loadCenter">
    <ion-spinner class="spinnerCenter" name="dots"></ion-spinner>
  </ion-content>

  <div id="container">

  </div>
</ion-content>
