*{
  font-family: 'Open Sans', sans-serif;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-title{
  text-align: center;
  margin: auto;
  font-size: 18px;
  font-weight: 900;
}
ion-title img{
  vertical-align: -25%;
  padding-right: 2px;
  position: relative;
  width: 30px;
}

ion-card-title{
  padding: 5px 15px;
  text-align: left;
  font-size: 14px;
}
ion-card-subtitle{
  font-size: 12px;
  font-weight: bold;
  padding: 2px 15px;
}

.allLoads{
  padding-top: 10px;
  text-align: center;
  margin: auto;
  font-size: 14px;
}
.notFound{
  padding: 20% 20px;
  font-size: 18px;
  text-align: center;
  margin: auto;
}
.spinnerCenter{
  top:50%;
  left:50%;
  position: fixed;
  transform: translate(-50%, -50%);
}
