<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="margin-top: 15px;">
      <img src="../../assets/icon/favicon.png">
      Mundo hoje
    </ion-title>

    <ion-searchbar (ionChange)="getSearchbarValue($event)" [(ngModel)]="searchValue" animated="true" style="margin-top: 10px;" placeholder="Buscar"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="notFound" *ngIf="!notice.items || notice.count === 0">
    Nenhuma notícia encontrada <br>
    <img class="mt-15" src="../../assets/no-connection.png" alt="no connection" width="30%">
  </div>

  <span *ngIf="!loadCenter">
    <ion-card *ngFor="let item of notice.items">
    <ion-item>
      <img [src]="item.photos.image_intro" width="100%">
    </ion-item>

    <ion-card-subtitle>
      Publicado em: {{item.data_publicacao.toString().split(' ')[0]}}
    </ion-card-subtitle>
    <ion-card-title>
      {{item.introducao}}
    </ion-card-title>
    </ion-card>
  </span>

  <ion-content class="allLoads" *ngIf="allLoads && notice.count > 0">
    Todas as notícias carregadas
  </ion-content>

  <ion-infinite-scroll *ngIf="!allLoads && !loadCenter" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-content *ngIf="loadCenter">
    <ion-spinner class="spinnerCenter" name="dots"></ion-spinner>
  </ion-content>

</ion-content>
